/* .input-field {
  padding: 10px;
  width: 50%;
  border: none;
  border-bottom: 1px solid gray;
  outline: none;
}
.submit-button {
  background-color: #f7227a;
  color: white;
  width: 50%;
  padding: 10px;
  border: none;
  border-radius: 5px;
}
 */
 .inp {
  width: 70%;
  border-radius: 10px;
  border:none
}


.form {
  border:1px solid silver;
  border-radius: 10px;
  background-color: rgb(40, 40, 53);
}


.about-us {
  padding-top: 50px;
  display: flex;


  margin-bottom:100px;
}


.single-about {
  background-color:#fce3e3 ;
  padding:10px;
  margin:10px;
  border-radius: 20px;
  text-align: center;
  

}

.single-about:hover {
  background-color: #FE9C37;
  color: white;
  transition: 0.5s;
}

.single-about h3{
  margin-top: 20px;
  font-size: 30px;
  font-weight: 400;
}

.single-about i {
  font-size: 50px;
  margin-top:30px;
  background-color: #FE9C37;
  padding:20px;
  border-radius: 25px;
  color:white;
 
}

div ul li{
list-style-type: none;
}